<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant Information">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Cafe Me</title>
</head>
<body>
    <header class="app-bar">

        <div class="app-bar__menu">
            <!-- button toogle navigation -->
            <button class="toggle-nav" id="toggle-nav-menu"> ☰ </button>
        </div>

        <div class="app-bar__brand">
            <!-- navbar Brand -->
            <h1>Cafe Me</h1>
        </div>
        
        <nav id="navigationDrawer" class="app-bar__navigation">
            <!-- navbar right -->
            <ul>
                <li>
                    <a href="#/home" >Home</a>
                </li>

                <li>
                    <a href="#/favorite">Favorite</a>
                </li>

                <li>
                    <a href="https://github.com/veriiswantodev" target="_blank">Abou Us</a>
                </li>
            </ul>
            <!-- End Navbar Right -->
        </nav>
    </header>
<!-- 
    <div class="hero-img">
        <div class="text-hero">
            <h1 class="hero-title">All About Drinks and Food
                <p class="tagline">
                    Selamat Datang Di Cafe Me
                </p>
            </h1>
        </div>
    </div> -->

    <!-- Main Content -->
    <main id="mainContent"></main>
    <!-- End Main Content -->

    <footer>
        <p>Copyright &copy; 2021 - Cafe Me</p>
    </footer>


</body>
</html>
